<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">
	<update id="updateBusinessInfoStatus" parameterType="_int">
		UPDATE BUSINESS_INFO SET BUS_STATUS='Y' WHERE BUS_NO=#{busNo}
	</update>
	<delete id="deleteBusinessRequest" parameterType="_int">
		DELETE FROM BUSINESS_REQUEST WHERE REQUEST_NO=#{requestNo}
	</delete>	
	<update id="updateMemberLevel" parameterType="map">
		UPDATE TA_MEMBER SET MEM_LEVEL=#{level} WHERE MEM_NO=#{memNo}
	</update>
	<select id="selectMemberOne" parameterType="_int" resultMap="memberMap">
		SELECT * FROM TA_MEMBER WHERE MEM_NO=#{memNo}
	</select>
	<select id="selectBusinessOne" parameterType="_int" resultMap="busMap">
		SELECT * FROM BUSINESS_INFO WHERE BUS_NO=#{busNo}
	</select>
	<select id="selectbusinessRequestCount" resultType="_int">
		SELECT COUNT(*) FROM BUSINESS_REQUEST A JOIN BUSINESS_INFO B ON A.BUS_NO=B.BUS_NO JOIN TA_MEMBER C ON A.MEM_NO=C.MEM_NO WHERE C.MEM_STATUS='Y'
	</select>
	<select id="selectbusinessRequestList" resultMap="brMap">
		SELECT * FROM BUSINESS_REQUEST A JOIN BUSINESS_INFO B ON A.BUS_NO=B.BUS_NO JOIN TA_MEMBER C ON A.MEM_NO=C.MEM_NO WHERE C.MEM_STATUS='Y'
	</select>
	<insert id="insertTag" parameterType="map">
		INSERT INTO TAG VALUES(TAG_SEQ.NEXTVAL, #{busNo}, '#'||#{tag})
	</insert>
	<delete id="deleteTagOpinion" parameterType="_int">
		DELETE FROM TAG_OPINION WHERE TAG_NO=#{tagNo}
	</delete>
	<select id="selectTagOpinionList" resultType="map">
		SELECT * FROM TAG_OPINION JOIN BUSINESS_INFO USING(BUS_NO) WHERE BUS_STATUS='Y'
	</select>
	<select id="selectTagOpinionCount" resultType="_int">
		SELECT COUNT(*) FROM TAG_OPINION JOIN BUSINESS_INFO USING(BUS_NO) WHERE BUS_STATUS='Y'
	</select>
	<resultMap type="br" id="brMap">
		<result property="requestNo" column="request_no"/>
		<result property="requestDate" column="request_date"/>
		<result property="busNo" column="BUS_NO"/>
		<result property="busName" column="BUS_NAME"/>
		<result property="busAddress" column="BUS_ADDRESS"/>
		<result property="busIncome" column="BUS_INCOME"/>
		<result property="busIndustrial" column="BUS_INDUSTRIAL"/>
		<result property="memNo" column="mem_no"/>
		<result property="memEmail" column="mem_email"/>
	</resultMap>
	
	<resultMap type="bus" id="busMap">
		<result property="busNo" column="BUS_NO"></result>
		<result property="busName" column="BUS_NAME"></result>
		<result property="busCountry" column="BUS_COUNTRY"></result>
		<result property="busArea" column="BUS_AREA"></result>
		<result property="busAddress" column="BUS_ADDRESS"></result>
		<result property="busRegNo" column="BUS_REG_NO"></result>
		<result property="busIncome" column="BUS_INCOME"></result>
		<result property="busIndustrial" column="BUS_INDUSTRIAL"></result>
		<result property="busTotalEmp" column="BUS_TOTAL_EMP"></result>
		<result property="busIntroduce" column="BUS_INTRODUCE"></result>
		<result property="busEstablishment" column="BUS_ESTABLISHMENT"></result>
		<result property="busEmail" column="BUS_EMAIL"></result>
		<result property="busPhone" column="BUS_PHONE"></result>
		<result property="busWebsite" column="BUS_WEBSITE"></result>
		<result property="searchKeywords" column="BUS_SEARCH_KEYWORDS" typeHandler="strArray"></result>
		<result property="RegPath" column="Reg_PATH"></result>
		<result property="busEnrollDate" column="BUS_ENROLLDATE"></result>
		<result property="busLogo" column="BUS_LOGO"></result>
		<result property="busImages" column="BUS_IMAGES" typeHandler="strArray"></result>
		<result property="busStatus" column="BUS_STATUS"></result>
		<result property="newIncome" column="NEW_INCOME"></result>
		<result property="allIncome" column="ALL_INCOME"></result>
	</resultMap>
	
	<resultMap type="member" id="memberMap">
		<result property="memNo" column="mem_no"/>
		<result property="memEmail" column="mem_email"/>
		<result property="memLevel" column="mem_level"/>
		<result property="memPassword" column="mem_password"/>
		<result property="memName" column="mem_name"/>
		<result property="memPhone" column="mem_phone"/>
		<result property="memPoint" column="mem_point"/>
		<result property="memDenied" column="mem_denied"/>
		<result property="memEmailCert" column="mem_email_cert"/>
		<result property="memReceiveEmail" column="mem_receive_email"/>
		<result property="memEnrollDatetime" column="mem_enroll_datetime"/>
		<result property="memEnrollIp" column="mem_enroll_ip"/>
		<result property="memLastloginDatetime" column="mem_lastlogin_datetime"/>
		<result property="memLastloginIp" column="mem_lastlogin_ip"/>
		<result property="memProgileContent" column="mem_profile_content"/>
		<result property="memAdminmemo" column="mem_adminmemo"/>
		<result property="memIcon" column="mem_icon"/>
		<result property="memPhoto" column="mem_photo"/>
		<result property="memStatus" column="mem_status"/>
		<result property="memWithdrawalDate" column="mem_withdrawal_date"/>
		<result property="memDeniedDate" column="mem_denied_date"/>
		<result property="filter_id" column="filter_id"/>
	</resultMap>
</mapper>