<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="business">
	<insert id="insertEmployer" parameterType="map" >
		INSERT INTO USERTEMP VALUES (#{userName}, #{userPhone}, #{userEmail}, #{userPassword}, DEFAULT)
	</insert>
	<insert id="insertBusiness" parameterType="bus">
		INSERT INTO BUSINESS_INFO VALUES (SEQ_BUS_NO.NEXTVAL,#{busName},#{busCountry},#{busArea},#{busAddress},#{busRegNo},#{busIncome},#{busIndustrial},#{busTotalEmp},#{busIntroduce},#{busEstablishment},#{busEmail},#{busPhone},#{busWebsite},#{searchKeywords, typeHandler=strArray},#{regPath},DEFAULT,NULL,NULL,DEFAULT)
	</insert>
	<select id="selectBusInfo" parameterType="integer" resultMap="busMap">
		SELECT * FROM BUSINESS_INFO WHERE BUS_NO=(SELECT BUS_NO FROM MEM_BUS_CONNECTION WHERE MEM_NO=#{memberNo})
	</select>
	<update id="busLogoChange" parameterType="bus">
		UPDATE BUSINESS_INFO SET BUS_LOGO=#{busLogo} WHERE BUS_NO=#{busNo}
	</update>
	
	<select id="selectBusApplNew" resultMap="memberMap">
		SELECT * FROM TA_MEMBER
	</select>
	
	<resultMap type="bus" id="busMap">
		<result property="busNo" column="BUS_NO"></result>
		<result property="busName" column="BUS_NAME"></result>
		<result property="busCountry" column="BUS_COUNTRY"></result>
		<result property="busArea" column="BUS_AREA"></result>
		<result property="busAddress" column="BUS_ADDRESS"></result>
		<result property="busRegNo" column="BUS_REG_NO"></result>
		<result property="busIncome" column="BUS_INCOME"></result>
		<result property="busIndustrial" column="BUS_INDUSTRIAL"></result>
		<result property="busTotalEmp" column="BUS_TOTAL_EMP"></result>
		<result property="busIntroduce" column="BUS_INTRODUCE"></result>
		<result property="busEstablishment" column="BUS_ESTABLISHMENT"></result>
		<result property="busEmail" column="BUS_EMAIL"></result>
		<result property="busPhone" column="BUS_PHONE"></result>
		<result property="busWebsite" column="BUS_WEBSITE"></result>
		<result property="searchKeywords" column="BUS_SEARCH_KEYWORDS" typeHandler="strArray"></result>
		<result property="RegPath" column="Reg_PATH"></result>
		<result property="busEnrollDate" column="BUS_ENROLLDATE"></result>
		<result property="busLogo" column="BUS_LOGO"></result>
		<result property="busImages" column="BUS_IMAGES" typeHandler="strArray"></result>
		<result property="busStatus" column="BUS_STATUS"></result>
	</resultMap>
	
	<resultMap type="member" id="memberMap">
		<result property="memNo" column="mem_no"/>
		<result property="memEmail" column="mem_email"/>
		<result property="memLevel" column="mem_level"/>
		<result property="memPassword" column="mem_password"/>
		<result property="memName" column="mem_name"/>
		<result property="memPhone" column="mem_phone"/>
		<result property="memPoint" column="mem_point"/>
		<result property="memDenied" column="mem_denied"/>
		<result property="memEmailCert" column="mem_email_cert"/>
		<result property="memReceiveEmail" column="mem_receive_email"/>
		<result property="memEnrollDatetime" column="mem_enroll_datetime"/>
		<result property="memEnrollIp" column="mem_enroll_ip"/>
		<result property="memLastloginDatetime" column="mem_lastlogin_datetime"/>
		<result property="memLastloginIp" column="mem_lastlogin_ip"/>
		<result property="memProgileContent" column="mem_profile_content"/>
		<result property="memAdminmemo" column="mem_adminmemo"/>
		<result property="memIcon" column="mem_icon"/>
		<result property="memPhoto" column="mem_photo"/>
		<result property="memStatus" column="mem_status"/>
		<result property="memWithdrawalDate" column="mem_withdrawal_date"/>
		<result property="memDeniedDate" column="mem_denied_date"/>
	</resultMap>
	
</mapper>
