<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="log">
	<select id="mappingAuthCounterByAuthority" parameterType="map" resultType="_int">
		SELECT COUNT(*),MAP_DIV FROM TA_REQUEST_MAPPING_LOG LEFT JOIN TA_MAPPING_DIV ON MAP_URL=RML_URL WHERE MAP_AUTHORITY IS NOT NULL AND MAP_AUTHORITY=#{authority} GROUP BY (MAP_AUTHORITY,MAP_DIV) ORDER BY 2
	</select>
	<select id="mappingAuthCounter" resultType="_int">
		SELECT COUNT(*),MAP_AUTHORITY FROM TA_REQUEST_MAPPING_LOG LEFT JOIN TA_MAPPING_DIV ON MAP_URL=RML_URL WHERE MAP_AUTHORITY IS NOT NULL GROUP BY MAP_AUTHORITY ORDER BY 2
	</select>
	<select id="mappingDivCounter" resultType="_int">
		SELECT COUNT(*), MAP_DIV FROM TA_REQUEST_MAPPING_LOG LEFT JOIN TA_MAPPING_DIV ON MAP_URL=RML_URL WHERE MAP_DIV IS NOT NULL GROUP BY MAP_DIV ORDER BY 2
	</select>
	<select id="mappingLogCounterSort" parameterType="map" resultMap="mcMap">
		SELECT COUNT(*) AS "COUNT", NVL(MAP_URL,'[미등록]') AS "MAPPER", NVL(MAP_DIV, '[미등록]') AS "DIV", NVL(MAP_DETAIL,'[미등록]') AS "DETAIL", NVL(MAP_AUTHORITY,'[미등록]') AS "AUTHORITY" 
		FROM TA_REQUEST_MAPPING_LOG LEFT JOIN TA_MAPPING_DIV ON MAP_URL=RML_URL GROUP BY (MAP_URL, MAP_DIV, MAP_DETAIL, MAP_AUTHORITY) ORDER BY 
		<if test="order != null">${order}</if> 
		<if test="sort != null">${sort}</if>
	</select>
	<select id="mappingLogCounter" resultMap="mcMap">
		SELECT COUNT(*) AS "COUNT", NVL(MAP_URL,'[미등록]') AS "MAPPER", NVL(MAP_DIV, '[미등록]') AS "DIV", NVL(MAP_DETAIL,'[미등록]') AS "DETAIL", NVL(MAP_AUTHORITY,'[미등록]') AS "AUTHORITY" 
		FROM TA_REQUEST_MAPPING_LOG LEFT JOIN TA_MAPPING_DIV ON MAP_URL=RML_URL GROUP BY (MAP_URL, MAP_DIV, MAP_DETAIL, MAP_AUTHORITY) ORDER BY 2
	</select>
	<select id="selectVisitorChartData" parameterType="map" resultType="map">
		SELECT COUNT(*) AS "COUNT" FROM TB_VISITOR WHERE 1=1
		<choose>
		    <when test='period.equals("Y")'>
		        AND TO_DATE(VISIT_TIME,'yyyy-mm-dd')>=TO_DATE(add_months(SYSDATE,-12),'yyyy-mm-dd')
		    </when>
		    <when test='period.equals("H")'>
		        AND TO_DATE(VISIT_TIME,'yyyy-mm-dd')>=TO_DATE(add_months(SYSDATE,-6),'yyyy-mm-dd')
		    </when>
		    <when test='period.equals("M")'>
		        AND TO_DATE(VISIT_TIME,'yyyy-mm-dd')>=TO_DATE(add_months(SYSDATE,-1),'yyyy-mm-dd')
		    </when>
		    <when test='period.equals("W")'>
		        AND TO_DATE(VISIT_TIME,'yyyy-mm-dd')>=TO_DATE(SYSDATE-7,'yyyy-mm-dd')
		    </when>
		    <when test='period.equals("D")'>
		        AND TO_DATE(VISIT_TIME,'yyyy-mm-dd')=TO_DATE(SYSDATE,'yyyy-mm-dd')
		    </when>
		    <otherwise>
		        AND 1=1
		    </otherwise>
		</choose>
		AND TO_CHAR(VISIT_TIME,'HH24') BETWEEN #{front} AND #{back}
	</select>
	<select id="selectHighestVisitor" resultType="map">
		SELECT *
		FROM(SELECT ROWNUM AS RNUM, A.*
		FROM(SELECT TO_CHAR(VISIT_TIME,'yyyy.mm.dd') AS "DATE", COUNT(*) AS "COUNT" FROM TB_VISITOR GROUP BY TO_CHAR(VISIT_TIME,'yyyy.mm.dd') ORDER BY COUNT DESC) A) B
		WHERE RNUM=1
	</select>
	<select id="selectVisitorStats" resultType="_int">
		SELECT COUNT(*) FROM TB_VISITOR
		UNION ALL
		SELECT COUNT(*) FROM TB_VISITOR WHERE TO_DATE(VISIT_TIME,'yyyy-mm-dd')>=TO_DATE(ADD_MONTHS(SYSDATE,-1),'yyyy-mm-dd')
		UNION ALL
		SELECT COUNT(*) FROM TB_VISITOR WHERE TO_DATE(VISIT_TIME,'yyyy-mm-dd')>=TO_DATE(SYSDATE-7,'yyyy-mm-dd')
		UNION ALL
		SELECT COUNT(*) FROM TB_VISITOR WHERE TO_DATE(VISIT_TIME,'yyyy-mm-dd')=TO_DATE(SYSDATE,'yyyy-mm-dd')
		ORDER BY 1
	</select>
	<select id="selectLoginLogChartData" parameterType="map" resultType="map">
		SELECT COUNT(*) AS "COUNT", TO_CHAR(MLL_DATETIME,'YYYY-MM-DD') AS "DATE" FROM TA_MEMBER_LOGIN_LOG WHERE 
		<if test="data != null">MLL_SUCCESS=#{data}</if>
		<if test="data == null"> 1=1</if>
		AND TO_CHAR(MLL_DATETIME,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD') GROUP BY TO_CHAR(MLL_DATETIME,'YYYY-MM-DD')
		UNION ALL
		SELECT COUNT(*) AS "COUNT", TO_CHAR(MLL_DATETIME,'YYYY-MM-DD') AS "DATE" FROM TA_MEMBER_LOGIN_LOG WHERE 
		<if test="data != null">MLL_SUCCESS=#{data}</if>
		<if test="data == null"> 1=1</if>
		AND TO_CHAR(MLL_DATETIME,'YYYYMMDD') = TO_CHAR(SYSDATE-1,'YYYYMMDD') GROUP BY TO_CHAR(MLL_DATETIME,'YYYY-MM-DD')
		UNION ALL
		SELECT COUNT(*) AS "COUNT", TO_CHAR(MLL_DATETIME,'YYYY-MM-DD') AS "DATE" FROM TA_MEMBER_LOGIN_LOG WHERE 
		<if test="data != null">MLL_SUCCESS=#{data}</if>
		<if test="data == null"> 1=1</if>
		AND TO_CHAR(MLL_DATETIME,'YYYYMMDD') = TO_CHAR(SYSDATE-2,'YYYYMMDD') GROUP BY TO_CHAR(MLL_DATETIME,'YYYY-MM-DD')
		UNION ALL
		SELECT COUNT(*) AS "COUNT", TO_CHAR(MLL_DATETIME,'YYYY-MM-DD') AS "DATE" FROM TA_MEMBER_LOGIN_LOG WHERE
		<if test="data != null">MLL_SUCCESS=#{data}</if>
		<if test="data == null"> 1=1</if>
		AND TO_CHAR(MLL_DATETIME,'YYYYMMDD') = TO_CHAR(SYSDATE-3,'YYYYMMDD') GROUP BY TO_CHAR(MLL_DATETIME,'YYYY-MM-DD')
		UNION ALL
		SELECT COUNT(*) AS "COUNT", TO_CHAR(MLL_DATETIME,'YYYY-MM-DD') AS "DATE" FROM TA_MEMBER_LOGIN_LOG WHERE 
		<if test="data != null">MLL_SUCCESS=#{data}</if>
		<if test="data == null"> 1=1</if>
		AND TO_CHAR(MLL_DATETIME,'YYYYMMDD') = TO_CHAR(SYSDATE-4,'YYYYMMDD') GROUP BY TO_CHAR(MLL_DATETIME,'YYYY-MM-DD')
		UNION ALL
		SELECT COUNT(*) AS "COUNT", TO_CHAR(MLL_DATETIME,'YYYY-MM-DD') AS "DATE" FROM TA_MEMBER_LOGIN_LOG WHERE 
		<if test="data != null">MLL_SUCCESS=#{data}</if>
		<if test="data == null"> 1=1</if>
		AND TO_CHAR(MLL_DATETIME,'YYYYMMDD') = TO_CHAR(SYSDATE-5,'YYYYMMDD') GROUP BY TO_CHAR(MLL_DATETIME,'YYYY-MM-DD')
		UNION ALL
		SELECT COUNT(*) AS "COUNT", TO_CHAR(MLL_DATETIME,'YYYY-MM-DD') AS "DATE" FROM TA_MEMBER_LOGIN_LOG WHERE 
		<if test="data != null">MLL_SUCCESS=#{data}</if>
		<if test="data == null"> 1=1</if>
		AND TO_CHAR(MLL_DATETIME,'YYYYMMDD') = TO_CHAR(SYSDATE-6,'YYYYMMDD') GROUP BY TO_CHAR(MLL_DATETIME,'YYYY-MM-DD')
		ORDER BY 2
	</select>
	<select id="selectLoginLogStats" resultType="_int">
		SELECT COUNT(*) FROM TA_MEMBER_LOGIN_LOG
		UNION ALL
		SELECT COUNT(*) FROM TA_MEMBER_LOGIN_LOG WHERE TO_CHAR(MLL_DATETIME,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD')
		UNION ALL
		SELECT COUNT(*) FROM TA_MEMBER_LOGIN_LOG WHERE MLL_SUCCESS='Y'
		UNION ALL
		SELECT COUNT(*) FROM TA_MEMBER_LOGIN_LOG WHERE MLL_SUCCESS='Y' AND TO_CHAR(MLL_DATETIME,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD')
		ORDER BY 1
	</select>
	<insert id="insertRequestMappingLog" parameterType="rml">
		INSERT INTO TA_REQUEST_MAPPING_LOG VALUES(REQ_MAP_SEQ.NEXTVAL, #{rmlMemNo}, #{rmlUserEmail}, SYSDATE, #{rmlIp}, #{rmlUseragent}, #{rmlUrl}, #{rmlReferer})
	</insert>
	<select id="selectLoginLogListBySearch" parameterType="map" resultMap="mllMap">
		SELECT * FROM TA_MEMBER_LOGIN_LOG WHERE
		<if test="searchStr != null">
			( 1=0
			<foreach collection="searchStr" item="str">
				OR UPPER(MLL_USER_EMAIL) LIKE UPPER('%'||#{str}||'%')
				OR UPPER(MLL_REASON) LIKE UPPER('%'||#{str}||'%')
				OR UPPER(MLL_IP) LIKE UPPER('%'||#{str}||'%')
				OR UPPER(MLL_USERAGENT) LIKE UPPER('%'||#{str}||'%')
			</foreach>
			<if test="searchInt != null">
				<foreach collection="searchInt" item="int">
					OR MLL_NO LIKE '%'||${int}||'%'
					OR MLL_MEM_NO LIKE '%'||${int}||'%'
				</foreach>
			</if>
			)
		</if>
		<if test="searchStr == null">
			1=1 
		</if>
		<if test="mllSuccess != null">
			AND MLL_SUCCESS=#{mllSuccess}
		</if>
		ORDER BY MLL_DATETIME DESC
	</select>
	<select id="selectLoginLogCountBySearch" parameterType="map" resultType='_int'>
		SELECT COUNT(*) FROM TA_MEMBER_LOGIN_LOG WHERE 
		<if test="searchStr != null">
			( 1=0
			<foreach collection="searchStr" item="str">
				OR UPPER(MLL_USER_EMAIL) LIKE UPPER('%'||#{str}||'%')
				OR UPPER(MLL_REASON) LIKE UPPER('%'||#{str}||'%')
				OR UPPER(MLL_IP) LIKE UPPER('%'||#{str}||'%')
				OR UPPER(MLL_USERAGENT) LIKE UPPER('%'||#{str}||'%')
			</foreach>
			<if test="searchInt != null">
				<foreach collection="searchInt" item="int">
					OR MLL_NO LIKE '%'||${int}||'%'
					OR MLL_MEM_NO LIKE '%'||${int}||'%'
				</foreach>
			</if>
			)
		</if>
		<if test="searchStr == null">
			1=1 
		</if>
		<if test="mllSuccess != null">
			AND MLL_SUCCESS=#{mllSuccess}
		</if>
	</select>
	<insert id="insertVisitor" parameterType="vc">
        INSERT
        INTO TB_VISITOR
        (
            VISIT_ID,
            VISIT_IP,
            VISIT_TIME
        )
        VALUES
        (
            VISITOR_SEQ.NEXTVAL,
            #{visitIp},
            SYSDATE
        )
    </insert>
	
	<resultMap type="mll" id="mllMap">
		<result property="mllNo" column="mll_no"/>
		<result property="mllSuccess" column="mll_success"/>
		<result property="mllMemNo" column="mll_mem_no"/>
		<result property="mllUserEmail" column="mll_user_email"/>
		<result property="mllDatetime" column="mll_datetime"/>
		<result property="mllIp" column="mll_ip"/>
		<result property="mllReason" column="mll_reason"/>
		<result property="mllUseragent" column="mll_useragent"/>
		<result property="mllUrl" column="mll_url"/>
		<result property="mllReferer" column="mll_referer"/>
	</resultMap>
	<resultMap type="rml" id="rmlMap">
		<result property="rmlNo" column="rml_no"/>
		<result property="rmlMemNo" column="rml_mem_no"/>
		<result property="rmlUserEmail" column="rml_user_email"/>
		<result property="rmlDatetime" column="rml_datetime"/>
		<result property="rmlIp" column="rml_ip"/>
		<result property="rmlUseragent" column="rml_useragent"/>
		<result property="rmlUrl" column="rml_url"/>
		<result property="rmlReferer" column="rml_referer"/>
	</resultMap>
	<resultMap type="mc" id="mcMap">
		<result property="count" column="COUNT"/>
		<result property="mapper" column="MAPPER"/>
		<result property="mapDiv" column="DIV"/>
		<result property="detail" column="DETAIL"/>
		<result property="authority" column="AUTHORITY"/>
	</resultMap>
</mapper>