<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<select id="selectMemAppl" parameterType="member" resultMap="memberMap">
		SELECT * FROM TA_APPL_BUS where mem_no=#{memNo} ORDER BY offer_Date desc 
	</select>
	<select id="selectMemApplCount" parameterType="member" resultType="_int">
		SELECT COUNT(*) FROM TA_APPL_BUS WHERE mem_no=#{memNo}
	</select>
	<select id="selectBookMark" parameterType="member" resultMap="positionMap" >
		SELECT * FROM BUSINESS_INFO i join enroll_position e on (i.bus_no=e.bus_no) join BOOK_MARK b on (e.position_no=b.position_no) join ta_member m on(b.mem_no=m.mem_no) where m.mem_no=#{memNo}
	</select>
	<select id="selectLike" parameterType="member" resultMap="positionMap">
		select p.position_no,b.bus_name,b.BUS_COUNTRY,p.position,b.bus_area,b.bus_images,(SELECT COUNT(*) FROM PO_LIKE WHERE LIKE_ID = P.LIKE_ID) AS LIKE_COUNT from ENROLL_POSITION p join po_like l on (p.like_id=l.like_id) join ta_member m on(l.mem_no=m.mem_no) join BUSINESS_INFO b on(p.bus_no=b.bus_no) where m.MEM_NO=#{memNo}
	</select>
	<update id="applAnsY" parameterType="_int">
		UPDATE TA_APPL_BUS SET APPL_ANS_YN='Y',ANSWER_DATE=SYSDATE WHERE MEM_NO = #{memNo}
	</update>
	<update id="applAnsN" parameterType="_int">
		UPDATE TA_APPL_BUS SET APPL_ANS_YN='N',ANSWER_DATE=SYSDATE WHERE MEM_NO = #{memNo}
	</update>
	<select id="selectApplicant" parameterType="member" resultMap="applicantMap">
		SELECT * FROM TA_APPL_BUS WHERE MEM_NO=#{memNo} AND APPL_STATUS=2 AND APPL_ANS_YN='O' AND APPL_DEL_YN='N'
	</select>
	<update id="restoreMember" parameterType="member">
		UPDATE TA_MEMBER SET MEM_STATUS='Y', MEM_WITHDRAWAL_DATE=NULL WHERE MEM_NO=#{memNo}
	</update>
	<select id="selectWithdrawMemberListBySearch" parameterType="map" resultMap="memberMap">
		SELECT * FROM TA_MEMBER WHERE
		<if test="searchStr != null">
			( 1=0
			<foreach collection="searchStr" item="str">
				OR UPPER(MEM_EMAIL) LIKE UPPER('%'||#{str}||'%')
				OR UPPER(MEM_NAME) LIKE UPPER('%'||#{str}||'%')
				OR UPPER(MEM_ADMINMEMO) LIKE UPPER('%'||#{str}||'%')
			</foreach>
			<if test="searchInt != null">
				<foreach collection="searchInt" item="int">
					OR MEM_NO LIKE '%'||${int}||'%'
					OR MEM_PHONE LIKE '%'||${int}||'%'
				</foreach>
			</if>
			)
		</if>	
		<if test="searchStr == null">
			1=1 
		</if>
		<if test="searchLevel != null">
			AND MEM_LEVEL=${searchLevel} 
		</if>
		AND MEM_STATUS='N'
		ORDER BY MEM_ENROLL_DATETIME DESC
	</select>
	<select id="selectWithdrawMemberCountBySearch" parameterType="map" resultType="_int">
		SELECT COUNT(*) FROM TA_MEMBER WHERE
		<if test="searchStr != null">
			( 1=0
			<foreach collection="searchStr" item="str">
				OR UPPER(MEM_EMAIL) LIKE UPPER('%'||#{str}||'%')
				OR UPPER(MEM_NAME) LIKE UPPER('%'||#{str}||'%')
				OR UPPER(MEM_ADMINMEMO) LIKE UPPER('%'||#{str}||'%')
			</foreach>
			<if test="searchInt != null">
				<foreach collection="searchInt" item="int">
					OR MEM_NO LIKE '%'||${int}||'%'
					OR MEM_PHONE LIKE '%'||${int}||'%'
				</foreach>
			</if>
			)
		</if>	
		<if test="searchStr == null">
			1=1 
		</if>
		<if test="searchLevel != null">
			AND MEM_LEVEL=${searchLevel} 
		</if>
		AND MEM_STATUS='N'
	</select>
	<insert id="insertLoginLog">
		INSERT INTO TA_MEMBER_LOGIN_LOG VALUES(MLL_SEQ.NEXTVAL, #{mllSuccess}, #{mllMemNo}, #{mllUserEmail}, SYSDATE, #{mllIp}, #{mllReason}, #{mllUseragent}, #{mllUrl}, #{mllReferer})
	</insert>
	<select id="selectMemberListBySearch" parameterType="map" resultMap="memberMap">
		SELECT * FROM TA_MEMBER WHERE
		<if test="searchStr != null">
			( 1=0
			<foreach collection="searchStr" item="str">
				OR UPPER(MEM_EMAIL) LIKE UPPER('%'||#{str}||'%')
				OR UPPER(MEM_NAME) LIKE UPPER('%'||#{str}||'%')
				OR UPPER(MEM_ADMINMEMO) LIKE UPPER('%'||#{str}||'%')
			</foreach>
			<if test="searchInt != null">
				<foreach collection="searchInt" item="int">
					OR MEM_NO LIKE '%'||${int}||'%'
					OR MEM_PHONE LIKE '%'||${int}||'%'
				</foreach>
			</if>
			)
		</if>	
		<if test="searchStr == null">
			1=1 
		</if>
		<if test="searchLevel != null">
			AND MEM_LEVEL=${searchLevel} 
		</if>
		AND MEM_STATUS='Y'
		ORDER BY MEM_ENROLL_DATETIME DESC
	</select>
	<select id="selectMemberCountBySearch" parameterType="map" resultType="_int">
		SELECT COUNT(*) FROM TA_MEMBER WHERE 
		<if test="searchStr != null">
			( 1=0
			<foreach collection="searchStr" item="str">
				OR UPPER(MEM_EMAIL) LIKE UPPER('%'||#{str}||'%')
				OR UPPER(MEM_NAME) LIKE UPPER('%'||#{str}||'%')
				OR UPPER(MEM_ADMINMEMO) LIKE UPPER('%'||#{str}||'%')
			</foreach>
			<if test="searchInt != null">
				<foreach collection="searchInt" item="int">
					OR MEM_NO LIKE '%'||${int}||'%'
					OR MEM_PHONE LIKE '%'||${int}||'%'
				</foreach>
			</if>
			)
		</if>	
		<if test="searchStr == null">
			1=1 
		</if>
		<if test="searchLevel != null">
			AND MEM_LEVEL=${searchLevel} 
		</if>
		AND MEM_STATUS='Y'
	</select>
	<update id="busLogoChange" parameterType="member">
		UPDATE TA_MEMBER SET mem_icon=#{memIcon} WHERE mem_no=#{memNo}
	</update>
	<update id="memberUpdate" parameterType="member">
		UPDATE TA_MEMBER SET mem_phone=#{memPhone},mem_name=#{memName} WHERE MEM_EMAIL=#{memEmail}
	</update>
	<update id="deleteMemberByAdmin" parameterType="member">
    	UPDATE TA_MEMBER SET MEM_STATUS='N', MEM_WITHDRAWAL_DATE=SYSDATE, MEM_ADMINMEMO=CONCAT(CONCAT(CONCAT(MEM_ADMINMEMO,'[관리자에 의한 탈퇴처리('),SYSDATE),')]') WHERE MEM_NO=#{memNo}
    </update>
    <update id="updateMemberByAdmin" parameterType="member">
    	UPDATE TA_MEMBER SET MEM_LEVEL=#{memLevel}, MEM_ADMINMEMO=#{memAdminmemo} WHERE MEM_NO=#{memNo}
    </update>
	<insert id="insertInterests" parameterType="interests">
		INSERT INTO interests VALUES(seq_intersts.NEXTVAL,#{memEmail},#{jobName},#{duty, typeHandler=strArray},#{experience},#{salary},#{skill, typeHandler=strArray},SYSDATE,DEFAULT)
	</insert>
	<select id="selectMemberCount" resultType="_int">
		SELECT COUNT(*) FROM TA_MEMBER WHERE MEM_STATUS='Y'
	</select>
	<update id="lastStepEnrollEnd" parameterType="member">
		UPDATE TA_MEMBER SET MEM_NAME=#{memName}, MEM_RECEIVE_EMAIL=#{memReceiveEmail} WHERE MEM_NO=#{memNo}
	</update>
	<update id="successAuth" parameterType="member">
		UPDATE TA_MEMBER SET MEM_LEVEL=1, MEM_EMAIL_CERT='Y' WHERE MEM_NO=#{memNo}
	</update>
	<update id="checkAuth" parameterType="member">
		UPDATE MEMBER_AUTH_EMAIL SET MAE_USE_DATETIME=SYSDATE, MAE_EXPIRED='Y' WHERE MEM_NO=#{memNo}
	</update>
	<insert id="insertMember" parameterType="member">
		INSERT INTO TA_MEMBER VALUES(MEM_SEQ.NEXTVAL, #{memEmail}, #{memPassword}, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, MEM_FILTER_ID_SEQ.NEXTVAL) 
		<selectKey keyProperty="memNo" resultType="_int" order="AFTER">
			SELECT MEM_SEQ.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	<insert id="insertFilter">
		INSERT INTO MEM_FILTER VALUES(MEM_FILTER_SEQ.NEXTVAL, MEM_FILTER_ID_SEQ.CURRVAL, DEFAULT, DEFAULT, DEFAULT, DEFAULT)
	</insert>
	<insert id="createAuthKey" parameterType="map">
		INSERT INTO MEMBER_AUTH_EMAIL VALUES(MAE_SEQ.NEXTVAL, #{memNo}, #{key}, 'E', DEFAULT, DEFAULT, DEFAULT)
	</insert>
	<select id="selectMemberList" parameterType="member" resultMap="memberMap">
		SELECT * FROM TA_MEMBER WHERE MEM_STATUS='Y' ORDER BY MEM_ENROLL_DATETIME DESC
	</select>
	<select id="selectMemberOne" parameterType="member" resultMap="memberMap">
		SELECT * FROM TA_MEMBER WHERE MEM_EMAIL = #{memEmail} AND MEM_STATUS='Y'
	</select>
	<select id="selectInterests" parameterType="string" resultMap="interMap">
		SELECT * FROM INTERESTS WHERE MEM_EMAIL = #{memEmail} 
	</select>
	<select id="selectPositionList" resultType="position">
		SELECT P.*, BUS_LOGO, BUS_IMAGES, BUS_ADDRESS, BUS_INDUSTRIAL, BUS_AREA, BUS_COUNTRY, (SELECT COUNT(*) FROM PO_LIKE WHERE LIKE_ID = P.LIKE_ID) AS LIKE_COUNT FROM ENROLL_POSITION P JOIN BUSINESS_INFO B ON P.BUS_NO = B.BUS_NO WHERE SYSDATE <![CDATA[<]]> DEAD_DATE ORDER BY POSITION_NO DESC
	</select>
	<select id="selectInterPositionList" parameterType="interests" resultType="position">
		SELECT P.*, BUS_LOGO, BUS_IMAGES, BUS_ADDRESS, BUS_INDUSTRIAL, BUS_AREA, BUS_COUNTRY, (SELECT COUNT(*) FROM PO_LIKE WHERE LIKE_ID = P.LIKE_ID) AS LIKE_COUNT FROM ENROLL_POSITION P JOIN BUSINESS_INFO B ON P.BUS_NO = B.BUS_NO WHERE SYSDATE <![CDATA[<]]> DEAD_DATE
		AND JOB_TYPE IN 
		<foreach collection="duty" item="d" open="(" close=")" separator=",">
			#{d}
		</foreach>
		ORDER BY POSITION_NO DESC
	</select>
	<select id="selectWeekPositionList" resultType="position">
		SELECT P.*, BUS_LOGO, BUS_IMAGES, BUS_ADDRESS, BUS_INDUSTRIAL, BUS_AREA, BUS_COUNTRY, (SELECT COUNT(*) FROM PO_LIKE WHERE LIKE_ID = P.LIKE_ID) AS LIKE_COUNT FROM ENROLL_POSITION P JOIN BUSINESS_INFO B ON P.BUS_NO = B.BUS_NO WHERE DEAD_DATE <![CDATA[<]]> SYSDATE + 7 AND SYSDATE - 7 <![CDATA[<]]> DEAD_DATE ORDER BY POSITION_NO DESC 
	</select>
	<resultMap type="position" id="positionMap">
		<result column="position_no" property="position_no"/>
		<result column="bus_name" property="bus_name" />
		<result column="BUS_COUNTRY" property="bus_country" />
		<result column="bus_area" property="bus_area" />
		<result column="bus_images" property="bus_images" typeHandler="StrArray"/>
	</resultMap>
	<resultMap type="interests" id="interMap">
		<result property="interestNo" column="INTERESTS_NO"/>
		<result property="memEmail" column="mem_email"/>
		<result property="jobName" column="job_name"/>
		<result property="duty" column="duty" typeHandler="strArray"/>
		<result property="experience" column="EXPERIENCE"/>
		<result property="salary" column="salary"/>
		<result property="skill" column="skill" typeHandler="strArray"/>
		<result property="interestsDate" column="interestsDate"/>
		<result property="resumeNo" column="resume_No"/>
	</resultMap>
	<resultMap type="member" id="memberMap">
		<result property="memNo" column="mem_no"/>
		<result property="memEmail" column="mem_email"/>
		<result property="memLevel" column="mem_level"/>
		<result property="memPassword" column="mem_password"/>
		<result property="memName" column="mem_name"/>
		<result property="memPhone" column="mem_phone"/>
		<result property="memPoint" column="mem_point"/>
		<result property="memDenied" column="mem_denied"/>
		<result property="memEmailCert" column="mem_email_cert"/>
		<result property="memReceiveEmail" column="mem_receive_email"/>
		<result property="memEnrollDatetime" column="mem_enroll_datetime"/>
		<result property="memEnrollIp" column="mem_enroll_ip"/>
		<result property="memLastloginDatetime" column="mem_lastlogin_datetime"/>
		<result property="memLastloginIp" column="mem_lastlogin_ip"/>
		<result property="memProgileContent" column="mem_profile_content"/>
		<result property="memAdminmemo" column="mem_adminmemo"/>
		<result property="memIcon" column="mem_icon"/>
		<result property="memPhoto" column="mem_photo"/>
		<result property="memStatus" column="mem_status"/>
		<result property="memWithdrawalDate" column="mem_withdrawal_date"/>
		<result property="memDeniedDate" column="mem_denied_date"/>
		<result property="filter_id" column="filter_id"/>
	</resultMap>
	<resultMap type="mll" id="mllMap">
		<result property="mllNo" column="mll_no"/>
		<result property="mllSuccess" column="mll_success"/>
		<result property="mllMemNo" column="mll_mem_no"/>
		<result property="mllUserEmail" column="mll_user_email"/>
		<result property="mllDatetime" column="mll_datetime"/>
		<result property="mllIp" column="mll_ip"/>
		<result property="mllReason" column="mll_reason"/>
		<result property="mllUseragent" column="mll_useragent"/>
		<result property="mllUrl" column="mll_url"/>
		<result property="mllReferer" column="mll_referer"/>
	</resultMap>
	<resultMap type="applicant" id="applicantMap">
		<result property="alNo" column="al_no" />
		<result property="applNo" column="appl_no" />
		<result property="busNo" column="bus_no" />
		<result property="memNo" column="mem_no" />
		<result property="positionNo" column="position_no"/>
		<result property="resumeNo" column="resume_no" />
		<result property="applStatus" column="appl_status"/>
		<result property="applDate" column="appl_date" />
		<result property="applAnsYn" column="appl_ans_yn"/>
	</resultMap>
</mapper>
