<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<insert id="insertInterests" parameterType="interests">
	INSERT INTO interests VALUES(seq_intersts.NEXTVAL,#{memEmail},#{jobName},#{duty, typeHandler=strArray},#{experience},#{salary},#{skill, typeHandler=strArray},SYSDATE,DEFAULT)
	</insert>
	<select id="selectMemberCount" resultType="_int">
		SELECT COUNT(*) FROM TA_MEMBER
	</select>
	<update id="lastStepEnrollEnd" parameterType="member">
		UPDATE TA_MEMBER SET MEM_NAME=#{memName}, MEM_RECEIVE_EMAIL=#{memReceiveEmail} WHERE MEM_NO=#{memNo}
	</update>
	<update id="successAuth" parameterType="member">
		UPDATE TA_MEMBER SET MEM_LEVEL=1, MEM_EMAIL_CERT='Y' WHERE MEM_NO=#{memNo}
	</update>
	<update id="checkAuth" parameterType="member">
		UPDATE MEMBER_AUTH_EMAIL SET MAE_USE_DATETIME=SYSDATE, MAE_EXPIRED='Y' WHERE MEM_NO=#{memNo}
	</update>
	<insert id="insertMember" parameterType="member">
		INSERT INTO TA_MEMBER VALUES(MEM_SEQ.NEXTVAL, #{memEmail}, #{memPassword}, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, MEM_FILTER_ID_SEQ.NEXTVAL) 
		<selectKey keyProperty="memNo" resultType="_int" order="AFTER">
			SELECT MEM_SEQ.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	<insert id="insertFilter">
		INSERT INTO MEM_FILTER VALUES(MEM_FILTER_SEQ.NEXTVAL, MEM_FILTER_ID_SEQ.CURRVAL, DEFAULT, DEFAULT, DEFAULT, DEFAULT)
	</insert>
	<insert id="createAuthKey" parameterType="map">
		INSERT INTO MEMBER_AUTH_EMAIL VALUES(MAE_SEQ.NEXTVAL, #{memNo}, #{key}, 'E', DEFAULT, DEFAULT, DEFAULT)
	</insert>
	<select id="selectMemberList" parameterType="member" resultMap="memberMap">
		SELECT * FROM TA_MEMBER WHERE MEM_STATUS='Y' ORDER BY MEM_ENROLL_DATETIME 
	</select>
	<select id="selectMemberOne" parameterType="member" resultMap="memberMap">
		SELECT * FROM TA_MEMBER WHERE MEM_EMAIL = #{memEmail}
	</select>
	<resultMap type="member" id="memberMap">
		<result property="memNo" column="mem_no"/>
		<result property="memEmail" column="mem_email"/>
		<result property="memLevel" column="mem_level"/>
		<result property="memPassword" column="mem_password"/>
		<result property="memName" column="mem_name"/>
		<result property="memPhone" column="mem_phone"/>
		<result property="memPoint" column="mem_point"/>
		<result property="memDenied" column="mem_denied"/>
		<result property="memEmailCert" column="mem_email_cert"/>
		<result property="memReceiveEmail" column="mem_receive_email"/>
		<result property="memEnrollDatetime" column="mem_enroll_datetime"/>
		<result property="memEnrollIp" column="mem_enroll_ip"/>
		<result property="memLastloginDatetime" column="mem_lastlogin_datetime"/>
		<result property="memLastloginIp" column="mem_lastlogin_ip"/>
		<result property="memProgileContent" column="mem_profile_content"/>
		<result property="memAdminmemo" column="mem_adminmemo"/>
		<result property="memIcon" column="mem_icon"/>
		<result property="memPhoto" column="mem_photo"/>
		<result property="memStatus" column="mem_status"/>
		<result property="memWithdrawalDate" column="mem_withdrawal_date"/>
		<result property="memDeniedDate" column="mem_denied_date"/>
		<result property="filter_id" column="filter_id"/>
	</resultMap>
</mapper>
