<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="recommend">
	
	<!-- 추천여부 검사 -->
	<select id="selectRecommend" parameterType="map" resultType="recommend">
		SELECT * FROM RECOMMEND WHERE MEM_NO = #{memNo} AND RECOMMEND_NO = #{recommendNo}
	</select>
	<!-- 친구여부 검사 -->
	<select id="selectFriend" parameterType="map" resultType="friend">
		SELECT * FROM FRIEND WHERE MEM_NO = #{memNo} AND FRIEND_NO = #{friendNo}
	</select>
	<!-- 추천인 회원여부 검사 -->
	<select id="selectRecommendMember" parameterType="string" resultMap="memberMap">
		SELECT * FROM TA_MEMBER WHERE MEM_EMAIL = #{email}
	</select>
	<!-- 추천 등록 -->
	<insert id="insertRecommend" parameterType="map">
		INSERT INTO RECOMMEND VALUES(#{memNo}, #{recommendNo}, #{name}, #{realationship}, (SELECT MEM_PHOTO FROM TA_MEMBER WHERE MEM_NO = #{memNo}), NULL, (SELECT MEM_PHOTO FROM TA_MEMBER WHERE MEM_NO = #{recommendNo}), (SELECT MEM_NAME FROM TA_MEMBER WHERE MEM_NO = #{memNo}))
	</insert>
	<!-- 친구 등록 -->
	<insert id="insertFriend" parameterType="map">
		INSERT INTO FRIEND VALUES(#{memNo}, #{friendNo}, DEFAULT, (SELECT MEM_PHOTO FROM TA_MEMBER WHERE MEM_NO = #{friendNo}))
	</insert>
	<!-- 내가받은추천리스트 -->
	<select id="selectRecommendList" parameterType="_int" resultType="recommend">
		SELECT * FROM RECOMMEND WHERE RECOMMEND_NO = #{memNo}
	</select>
	<!-- 내가 한 추천리스트 -->
	<select id="selectMyRecommendList" parameterType="_int" resultType="recommend">
		SELECT * FROM RECOMMEND WHERE MEM_NO = #{memNo}
	</select>
	<!-- 친구리스트 -->
	<select id="selectFriendList" parameterType="_int" resultType="friend">
		SELECT * FROM FRIEND WHERE MEM_NO = #{memNo}
	</select>
	<!-- 내가 한 추천 삭제 -->
	<delete id="deleteRecommend" parameterType="map">
		DELETE FROM RECOMMEND WHERE MEM_NO = #{memNo} AND RECOMMEND_NO = #{recommendNo}
	</delete>
	<!-- 추천사 추가 -->
	<insert id="insertChoochunsa" parameterType="map">
		UPDATE RECOMMEND SET RECOMMEND_TEXT = #{text} WHERE MEM_NO = #{memNo} AND RECOMMEND_NO = #{recommendNo}
	</insert>
	
	
	
	
	<resultMap type="member" id="memberMap">
		<result property="memNo" column="mem_no"/>
		<result property="memEmail" column="mem_email"/>
		<result property="memLevel" column="mem_level"/>
		<result property="memPassword" column="mem_password"/>
		<result property="memName" column="mem_name"/>
		<result property="memPhone" column="mem_phone"/>
		<result property="memPoint" column="mem_point"/>
		<result property="memDenied" column="mem_denied"/>
		<result property="memEmailCert" column="mem_email_cert"/>
		<result property="memReceiveEmail" column="mem_receive_email"/>
		<result property="memEnrollDatetime" column="mem_enroll_datetime"/>
		<result property="memEnrollIp" column="mem_enroll_ip"/>
		<result property="memLastloginDatetime" column="mem_lastlogin_datetime"/>
		<result property="memLastloginIp" column="mem_lastlogin_ip"/>
		<result property="memProgileContent" column="mem_profile_content"/>
		<result property="memAdminmemo" column="mem_adminmemo"/>
		<result property="memIcon" column="mem_icon"/>
		<result property="memPhoto" column="mem_photo"/>
		<result property="memStatus" column="mem_status"/>
		<result property="memWithdrawalDate" column="mem_withdrawal_date"/>
		<result property="memDeniedDate" column="mem_denied_date"/>
		<result property="filter_id" column="filter_id"/>
	</resultMap>
</mapper>
