<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="resume">
<update id="updateInterests" parameterType="interests">
update interests set DUTY=#{duty, typeHandler=strArray},EXPERIENCE=#{experience},SALARY=#{salary},SKILL=#{skill, typeHandler=strArray} WHERE MEM_EMAIL=#{memEmail}
</update>
<update id="EndResume" parameterType="resume">
	UPDATE RESUME SET MEM_PHONE=#{memPhone},INTRO=#{intro},STATUS='Y' WHERE RESUME_NO=#{resumeNo}
</update>
<update id="updateResume" parameterType="resume">
	UPDATE RESUME SET MEM_PHONE=#{memPhone},INTRO=#{intro} WHERE RESUME_NO=#{resumeNo}
</update>
<delete id="deleteResume" parameterType="resume">
DELETE FROM RESUME WHERE resume_no=#{resumeNo}
</delete>

<select id="selectMathUpResume" parameterType="member" resultMap="resumeMap">
SELECT * FROM RESUME WHERE MEM_EMAIL=#{memEmail} and MATCHUP='Y'
</select>
<update id="updateInterestsRno" parameterType="resume">
UPDATE INTERESTS SET resume_no=#{resumeNo} WHERE mem_email=#{memEmail}
</update>
<update id="updateLinks" parameterType="links">
UPDATE links SET links_addr=#{linksAddr} WHERE links_no=#{linksNo}
</update>
<update id="updateLang" parameterType="lang">
UPDATE lang SET lang_name=#{langName},lang_level=#{langLevel} WHERE lang_no=#{langNo}
</update>
<update id="updateAct" parameterType="activitie">
UPDATE activitie SET start_act=#{startAct},act_name=#{actName},act_detail=#{actDetail} WHERE act_no=#{actNo}
</update>
<update id="updateEd" parameterType="education">
UPDATE EDUCATION SET start_ed=#{startEd},end_ed=#{endEd},school_name=#{schoolName},major_name=#{majorName},subject_name=#{subjectName} WHERE ed_no=#{edNo}
</update>
<update id="updateCareer" parameterType="career">
UPDATE CAREER SET start_career=#{startCareer},end_career=#{endCareer},bus_name=#{busName},dep_name=#{depName},career_intro=#{careerIntro} WHERE career_no=#{careerNo}
</update>
<delete id="deleteEd" parameterType="_int">
DELETE FROM EDUCATION WHERE ed_no=#{deleteNo}
</delete>
<delete id="deleteAc" parameterType="_int">
DELETE FROM ACTIVITIE WHERE act_no=#{deleteNo}
</delete>
<delete id="deleteLa" parameterType="_int">
DELETE FROM LANG WHERE lang_no=#{deleteNo}
</delete>
<delete id="deleteLi" parameterType="_int">
DELETE FROM LINKS WHERE links_no=#{deleteNo}
</delete>
<delete id="deleteCareer" parameterType="_int">
DELETE FROM CAREER WHERE CAREER_NO=#{deleteNo}
</delete>
<insert id="insertResume" parameterType="member">
INSERT INTO RESUME VALUES (SEQ_RESUME.NEXTVAL,#{memEmail},#{memName},#{memPhone},default,default,null,null,default,#{memNo})
<selectKey keyProperty="memNo" resultType="_int" order="AFTER">
SELECT SEQ_RESUME.CURRVAL FROM DUAL
</selectKey>
</insert>
<insert id="insertMathupResume" parameterType="member">
INSERT INTO RESUME VALUES (SEQ_RESUME.NEXTVAL,#{memEmail},#{memName},default,default,default,'Y',null,default)
<selectKey keyProperty="memNo" resultType="_int" order="AFTER" >
SELECT SEQ_RESUME.CURRVAL FROM DUAL
</selectKey>
</insert>
<insert id="insertMathupCareer" parameterType="resume">
	INSERT INTO CAREER VALUES(SEQ_CAREER.NEXTVAL,#{memEmail},#{startCareer},#{endCareer},#{busName},default,default,#{resumeNo},default)
</insert>
<insert id="insertMathupEd" parameterType="resume">
	INSERT INTO EDUCATION VALUES(seq_education.NEXTVAL,#{memEmail},default,default,#{schoolName},default,default,default,#{resumeNo})	
</insert>
<select id="selectResume" parameterType="member" resultMap="resumeMap">
SELECT * FROM RESUME WHERE MEM_EMAIL=#{memEmail} ORDER BY RESUME_DATE ASC
</select>
<select id="selectCareer" parameterType="resume" resultMap="careerMap">
SELECT * FROM CAREER WHERE MEM_EMAIL=#{memEmail} AND RESUME_NO=${resumeNo} ORDER BY CAREER_DATE ASC
</select>
<select id="selectAc" parameterType="resume" resultMap="actMap">
SELECT * FROM ACTIVITIE WHERE MEM_EMAIL=#{memEmail} AND RESUME_NO=${resumeNo} ORDER BY ACT_DATE ASC
</select>
<select id="selectEd" parameterType="resume" resultMap="edMap">
SELECT * FROM EDUCATION WHERE MEM_EMAIL=#{memEmail} AND RESUME_NO=${resumeNo} ORDER BY ED_DATE ASC
</select>
<select id="selectLang" parameterType="resume" resultMap="laMap">
SELECT * FROM LANG WHERE MEM_EMAIL=#{memEmail} AND RESUME_NO=${resumeNo} ORDER BY LANG_DATE ASC
</select>
<select id="selectLinks" parameterType="resume" resultMap="linksMap">
SELECT * FROM LINKS WHERE MEM_EMAIL=#{memEmail} AND RESUME_NO=${resumeNo} ORDER BY LINKS_DATE ASC
</select>
<select id="selectResumeViewOne" parameterType="resume" resultMap="resumeMap">
SELECT * FROM RESUME WHERE MEM_EMAIL=#{memEmail} and RESUME_NO=#{resumeNo}
</select>
<insert id="insertCareer" parameterType="resume">
	INSERT INTO CAREER VALUES(SEQ_CAREER.NEXTVAL,#{memEmail},default,default,default,default,default,#{resumeNo},default)
<selectKey keyProperty="resumeNo" resultType="_int" order="AFTER">
 	SELECT SEQ_CAREER.CURRVAL FROM DUAL
 </selectKey>
</insert>
<insert id="insertEd" parameterType="resume">
	INSERT INTO EDUCATION VALUES(seq_education.NEXTVAL,#{memEmail},default,default,default,default,default,default,#{resumeNo})
	<selectKey keyProperty="resumeNo" resultType="_int" order="AFTER">
	SELECT seq_education.CURRVAL FROM DUAL
	</selectKey>
</insert>
<insert id="insertAct" parameterType="resume">
	INSERT INTO ACTIVITIE VALUES(seq_activitie.NEXTVAL,#{memEmail},default,default,default,default,#{resumeNo})
	<selectKey keyProperty="resumeNo" resultType="_int" order="AFTER">
	SELECT seq_activitie.CURRVAL FROM DUAL
	</selectKey>
</insert>
<insert id="insertLang" parameterType="resume">
	INSERT INTO LANG VALUES(seq_lang.NEXTVAL,#{memEmail},default,default,default,#{resumeNo})
	<selectKey keyProperty="resumeNo" resultType="_int" order="AFTER">
	SELECT seq_lang.CURRVAL FROM DUAL
	</selectKey>
</insert>
<insert id="insertLink" parameterType="resume">
	INSERT INTO LINKS VALUES(seq_links.NEXTVAL,#{memEmail},default,default,#{resumeNo})
	<selectKey keyProperty="resumeNo" resultType="_int" order="AFTER">
	SELECT seq_links.CURRVAL FROM DUAL
	</selectKey>
</insert>
<select id="selectResumeOne" parameterType="resume" resultMap="resumeMap">
	SELECT * FROM RESUME WHERE resume_no=#{resumeNo}
</select>
<select id="selectInter" parameterType="member" resultMap="interMap">
	SELECT * FROM interests WHERE MEM_EMAIL=#{memEmail}
</select>

<resultMap type="interests" id="interMap">
	<result property="interestNo" column="INTERESTS_NO"/>
	<result property="memEmail" column="mem_email"/>
	<result property="jobName" column="job_name"/>
	<result property="duty" column="duty" typeHandler="strArray"/>
	<result property="experience" column="EXPERIENCE"/>
	<result property="salary" column="salary"/>
	<result property="skill" column="skill" typeHandler="strArray"/>
	<result property="interestsDate" column="interestsDate"/>
	<result property="resumeNo" column="resume_No"/>
</resultMap>

<resultMap type="lang" id="laMap">
	<result property="langNo" column="lang_no"/>
	<result property="memEmail" column="mem_email"/>
	<result property="langName" column="lang_name"/>
	<result property="langLevel" column="lang_level"/>
	<result property="langDate" column="lang_date"/>
	<result property="resumeNo" column="resume_no"/>
</resultMap>
<resultMap type="education" id="edMap">
	<result property="edNo" column="ed_no"/>
	<result property="memEmail" column="mem_email"/>
	<result property="startEd" column="start_ed"/>
	<result property="endEd" column="end_ed"/>
	<result property="schoolName" column="school_name"/>
	<result property="majorName" column="major_name"/>
	<result property="subjectName" column="subject_name"/>
	<result property="edDate" column="ed_date"/>
	<result property="resumeNo" column="resume_no"/>
</resultMap>
<resultMap type="links" id="linksMap">
	<result property="linksNo" column="links_no"/>
	<result property="memEmail" column="mem_email"/>
	<result property="linksAddr" column="links_addr"/>
	<result property="linksDate" column="links_date"/>
	<result property="resumeNo" column="resume_no"/>
</resultMap>
<resultMap type="activitie" id="actMap">
	<result property="actNo" column="act_no"/>
	<result property="memEmail" column="mem_email"/>
	<result property="startAct" column="start_act"/>
	<result property="actName" column="act_name"/>
	<result property="actDetail" column="act_detail"/>
	<result property="actDate" column="act_date"/>
	<result property="resumeNo" column="resume_no"/>
</resultMap>
<resultMap type="career" id="careerMap">
	<result property="careerNo" column="career_no"/>
	<result property="memEmail" column="mem_email"/>
	<result property="startCareer" column="start_career"/>
	<result property="endCareer" column="end_career"/>
	<result property="busName" column="bus_name"/>
	<result property="depName" column="dep_name"/>
	<result property="careerDate" column="career_date"/>
	<result property="resumeNo" column="resume_no"/>
	<result property="careerIntro" column="career_intro"/>
</resultMap>
<resultMap type="resume" id="resumeMap">
	<result property="resumeNo" column="resume_no"/>
	<result property="memEmail" column="mem_email"/>
	<result property="memName" column="mem_name"/>
	<result property="memPhone" column="mem_phone"/>
	<result property="intro" column="intro"/>
	<result property="resumeDate" column="resume_date"/>
	<result property="status" column="STATUS"/>
</resultMap>
<resultMap type="member" id="memberMap">
		<result property="memNo" column="mem_no"/>
		<result property="memEmail" column="mem_email"/>
		<result property="memLevel" column="mem_level"/>
		<result property="memPassword" column="mem_password"/>
		<result property="memName" column="mem_name"/>
		<result property="memPhone" column="mem_phone"/>
		<result property="memPoint" column="mem_point"/>
		<result property="memDenied" column="mem_denied"/>
		<result property="memEmailCert" column="mem_email_cert"/>
		<result property="memReceiveEmail" column="mem_receive_email"/>
		<result property="memEnrollDatetime" column="mem_enroll_datetime"/>
		<result property="memEnrollIp" column="mem_enroll_ip"/>
		<result property="memLastloginDatetime" column="mem_lastlogin_datetime"/>
		<result property="memLastloginIp" column="mem_lastlogin_ip"/>
		<result property="memProgileContent" column="mem_profile_content"/>
		<result property="memAdminmemo" column="mem_adminmemo"/>
		<result property="memIcon" column="mem_icon"/>
		<result property="memPhoto" column="mem_photo"/>
		<result property="memStatus" column="mem_status"/>
		<result property="memWithdrawalDate" column="mem_withdrawal_date"/>
		<result property="memDeniedDate" column="mem_denied_date"/>
		<result property="filter_id" column="filter_id"/>
	</resultMap>

</mapper>
