<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="search">
	<!-- 직업분야리스트 -->
	<select id="jobfieldList" resultType="jobfield">
		SELECT * FROM JOB_FIELD
	</select>
	<!-- 직업분야리스트(Ajax) -->
	<select id="jobfieldAjaxList" resultType="jobfield" parameterType="string">
		SELECT * FROM JOB_FIELD WHERE JOB_NAME NOT IN (#{jobName})
	</select>
</mapper>
