<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.kh.developers.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.kh.developers.common.type.StringArrayHandler" alias="strArray"/>
		<typeAlias type="com.kh.developers.business.model.vo.Business" alias="bus"/>
		<typeAlias type="com.kh.developers.resume.model.vo.Resume" alias="resume"/>
		<typeAlias type="com.kh.developers.resume.model.vo.Activitie" alias="activitie"/>
		<typeAlias type="com.kh.developers.resume.model.vo.Career" alias="career"/>
		<typeAlias type="com.kh.developers.resume.model.vo.Education" alias="education"/>
		<typeAlias type="com.kh.developers.resume.model.vo.Lang" alias="lang"/>
		<typeAlias type="com.kh.developers.resume.model.vo.Links" alias="links"/>
		<typeAlias type="com.kh.developers.search.model.vo.JobField" alias="jobfield"/>
		<typeAlias type="com.kh.developers.search.model.vo.Position" alias="position"/>
	</typeAliases>
</configuration>
