<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.kh.developers.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.kh.developers.common.type.StringArrayHandler" alias="strArray"/>
		<typeAlias type="com.kh.developers.business.model.vo.Business" alias="bus"/>
		<typeAlias type="com.kh.developers.resume.model.vo.Resume" alias="resume"/>
		<typeAlias type="com.kh.developers.resume.model.vo.Activitie" alias="activitie"/>
		<typeAlias type="com.kh.developers.resume.model.vo.Career" alias="career"/>
		<typeAlias type="com.kh.developers.resume.model.vo.Education" alias="education"/>
		<typeAlias type="com.kh.developers.resume.model.vo.Lang" alias="lang"/>
		<typeAlias type="com.kh.developers.resume.model.vo.Links" alias="links"/>
		<typeAlias type="com.kh.developers.search.model.vo.JobField" alias="jobfield"/>
		<typeAlias type="com.kh.developers.search.model.vo.Position" alias="position"/>
		<typeAlias type="com.kh.developers.search.model.vo.LikeMember" alias="likemember"/>
		<typeAlias type="com.kh.developers.search.model.vo.FilterOrderType" alias="filterordertype"/>
		<typeAlias type="com.kh.developers.search.model.vo.FilterCountry" alias="filtercountry"/>
		<typeAlias type="com.kh.developers.search.model.vo.FilterLocation" alias="filterlocation"/>
		<typeAlias type="com.kh.developers.search.model.vo.FilterCareer" alias="filtercareer"/>
		<typeAlias type="com.kh.developers.search.model.vo.Filter" alias="filter"/>
		<typeAlias type="com.kh.developers.member.model.vo.Interests" alias="interests"/>
		<typeAlias type="com.kh.developers.business.model.vo.Applicant" alias="applicant"/>
		<typeAlias type="com.kh.developers.search.model.vo.Company" alias="company"/>
		<typeAlias type="com.kh.developers.search.model.vo.Tag" alias="tag"/>
		<typeAlias type="com.kh.developers.search.model.vo.BookMark" alias="bookmark"/>
		<typeAlias type="com.kh.developers.member.model.vo.MyLike" alias="myLike"/>
		<typeAlias type="com.kh.developers.admin.model.vo.MemberLoginLog" alias="mll"/>
		<typeAlias type="com.kh.developers.admin.model.vo.VisitCount" alias="vc"/>
		<typeAlias type="com.kh.developers.recommend.model.vo.Recommend" alias="recommend"/>
		<typeAlias type="com.kh.developers.recommend.model.vo.Friend" alias="friend"/>
		<typeAlias type="com.kh.developers.salary.model.vo.Salary" alias="salary"/>
		<typeAlias type="com.kh.developers.search.model.vo.ResumeSearch" alias="resumesearch"/>
	</typeAliases>
</configuration>
