# Directories #
/target/
classes/
META-INF/
/Server/
/.metadata/



######################
# Eclipse
######################

.metadata
*.class
.classpath
.settings/
.loadpath



# PDT-specific
.buildpath

