.content{
    width: 80%;
     font-size: 13px;

}
input[type="text"], textarea {
    box-shadow: none !important;
    -moz-appearance: none;
    -webkit-appearance: none;
    resize: none;
}
.searchbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none !important;
    box-sizing: border-box;
    outline: none !important;
    resize: none;
    color: #333333;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 13px 15px;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
    padding: 0;
    border: none;
    background: none;
    width: 160px;
    min-height: 30px;
}
#status .status-table-header {
    border-color: #d1d1d1;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.apl_bus{
width: 45%;

}
.appl_postion{
width: 20%;	

}
.appl_date{
width: 20%;	
}
.appl_status{
width:15%;
}
.searchbox .searchbox {
    display: inline-block;
    float: right;
}
.count{
 	display: inline-block;
    float: left;
}
.inputWrapper{
	float:right;
}
.emptyApp{
	text-align:center;
	margin-top: 10px;
    color: #3b3d40;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.4;
}
.company-logo{
	width: 24px;
    height: 24px;
    margin-right: 5px;
    vertical-align: middle;
}