@charset "UTF-8";

.ei_a1{
    border-bottom: 2px solid black;
    display: block;
    font-size: 1.6rem;
    color: rgb(181, 181, 181) !important;
    text-decoration: none !important;
}
.ca1{
    border-bottom: 2px solid white;
    color:white !important;
    font-weight: 900 !important;
}
.ca3{
    border-bottom: 2px solid white;
    font-weight: 900 !important;
}

.ei_a1:hover {
    color: white !important;
    
}

.ei_a2{
    display: block;
    font-size: 1.6rem;
    color: silver;
    text-decoration: none !important;
    margin:10px 0;
    padding:0 20px;
    border-bottom: 2px solid #f8f8f8;
}

.ei_a2:hover{
    color:black !important;
    font-weight: 900;
}
.ca2{
    color:black;
    border-bottom: 2px solid black;
    font-weight: 900 !important;
}
.ca4{
    border-bottom: 2px solid black;
    font-weight: 900 !important;
}

.dropdown-menu{
    min-width: 105px;
}